<h2>About the Team</h2>

<p>Team Fancy A.F. has been drinking at fine establishments in L.A. County and beyond since the 20th century. This is their first app focused on simplifying the process of tracking adventures in nightlife.
</p>
