<h2>About the Team</h2>

<p>Team Fancy A.F. has been drinking at fine establishments in L.A. County and beyond since the 20th century. This is their first app focused on simplifying the process of tracking adventures in nightlife.</p>

<h1>Billie</h1>
<img class="profile-pic" src="https://avatars1.githubusercontent.com/u/24880643?v=3&s=460" alt="Billies Face">
<p1>Billie studied at GAs WDI</p1>
<h1>Jake</h1>
<img class="profile-pic" src="https://avatars0.githubusercontent.com/u/4257454?v=3&s=400" alt="Jakes Face">
<p1>Jake studied at GAs WDI</p1>
<h1>Laura</h1>
<img class="profile-pic" src="https://avatars3.githubusercontent.com/u/25044210?v=3&s=400" alt="Lauras Face">
<p1>Laura studied at GAs WDI</p1>
<h1>Thomas</h1>
<img class="profile-pic" src="https://avatars0.githubusercontent.com/u/24663091?v=3&s=400" alt="Thomas Face">
<p1>Thomas studied at GAs WDI</p1>
