<div id="profile-box" style="overflow: y; height: 500px">
<h1>About Team Fancy A.F.</h1>
<p>The members of Team Fancy A.F.--formed at General Assembly's WDI--have been drinking at fine establishments in L.A. County and beyond since the 20th century. <br><br>This is their first app focused on simplifying the process of tracking adventures in nightlife.</p>

    <h2>Billie - Design Guru</h2>
    <img class="profile-pic" src="https://media.licdn.com/media/AAEAAQAAAAAAAAyAAAAAJGJmYWFkYjg5LTMyMmItNDEwZS1iOTA4LWViNTZjYTk0ZDkxOA.jpg" alt="Billies Face">
    <br>
    <p>Currently I am gaining skills necessary to be a full stack developer at General Assembly . Previously I worked in sales with AT&T and honed my communication skills, leading by example, provided exemplary customer service, and training the sales team on best practices and techniques. Working and meeting with different types of individuals helped me learn to communicate with anyone. Being a lead in store designer with converse taught me to take information from customers and turn their ideas into a viable product/piece of art. I even worked with companies like Naughty Dog and HULU by providing custom shoes for employees and their companies. I also learned how to take constructive criticism, as many times product needed to be altered and updated to make the customer happy. Through these job experiences I was able to develop the ability to keep a level head in almost any situation. This also taught me patience in dealing with problems and issues.</p>
    <h2>Jake - GitHub Commander</h2>
    <img class="profile-pic" src="https://avatars0.githubusercontent.com/u/4257454?v=3&s=400" alt="Jakes Face">
    <br>
    <p>I’ve always been a logical problem solver. Before GA, I was working between completing a Bachelor’s in Computer Science at Cal State University Fullerton and being a Product Designer at PhD Labs – but I was looking to further my growth as a programmer and also as an individual. CSUF and PhD Labs both taught me the fundamentals of coding and design and made me want to pursue a future in web development. WDI was exactly what I needed to flourish – a high pressure learning environment that would help me grow as a Full-Stack Web Developer. Prior to GA I had experience using C++, C#, Objective C, Python, Ruby on Rails, and Assembly, and GA was able to expand that knowledge by introducing JavaScript, HTML, CSS, and JQuery. With all of these languages at my disposal I now feel like I am fully able to take on anything the web development world has to offer.
    </p>
    <h2>Laura - API/Database General</h2>
    <img class="profile-pic" src="http://i.imgur.com/D6JQZ5X.png" alt="Lauras Face">
    <br>
    <p>Laura studied at GAs WDI</p>
    <h2>Thomas - Scrum Master</h2>
    <img class="profile-pic" src="https://avatars0.githubusercontent.com/u/24663091?v=3&s=400" alt="Thomas Face">
    <br>
    <p>Prior to starting at General Assembly, I’ve owned a personal training business, played in the Austin, TX music scene for many years, and taught SAT prep in Korea, among other pursuits. But learning front-end and full-stack development languages and frameworks has solidified my desire to keep building things that ultimately help people improve their lives.
    </p>
</div>
