<div class="msgbox jumbotron">
    <h1> Drink/Drank L.A.® </h1>
      <div class="box">
          <p id="msgBoxText">A simple, user friendly app for finding local bars. Users can store list of places they have visited and places they would like to go</p>
      </div>
    <br>


    <h3><a href="/about">Learn More</a></h3>

</div>
