<div class="msgbox">
    <br>
    <br>
    <br>
    
    <h1><strong> Drink/Drank L.A.®</strong> </h1>
      <div class="box">
        <strong class="msg-box-text">A simple, user friendly app for finding local bars. Create and store lists of bars you love and the ones you'd like to visit.
          <br>
          <br>
        Click Sign Up or Login to get started.
        </strong>
      </div>
    <br>
    <a href="/about"><button class="learn-more-btn">Learn More</button></a>
</div>
