<div class="msgbox jumbotron">
    <h1> Drink/Drank L.A.® </h1>
      <div class="box">
          <strong class="msgBoxText">A simple, user friendly app for finding local bars. Users can store list of places they have visited and places they would like to go</strong>
      </div>
    <br>


    <button><a href="/about">Learn More</a></button>

</div>
