<h3 id="index-header">Drag your Bar into the appropriate List</h3>

<div class="container">
<br>
  <div class="col-md-6 list left">
    <h1 class="index-list-title draggable" >Visited</h1>
    <ul class="list-unstyled" id="drank-list">
      <% for (var i = 0; i < user.bars.length; i++) { %>
        <% if (user.bars[i].visited) { %>
          <li class="index-items draggable"><%= user.bars[i].name %></li>
        <% } %>
      <% } %>
    </ul>
  </div>

  <div class="col-md-6 list right">
    <h1 class="index-list-title">Visit Soon</h1>
      <ul class="list-unstyle" id="drink-list">
        <% for (var i = 0; i < user.bars.length; i++) { %>
          <% if (!user.bars[i].visited) { %>
            <li class="index-items draggable"><%= user.bars[i].name %></li>
          <% } %>
        <% } %>
      </ul>
  </div>

</div>
