<h3 id="index-header">Drag your Bar into the appropriate List</h3>

<div class="container">
<br>
  <div class="col-md-6 list left">
    <h1 class="index-list-title" >Visited</h1>
    <ul class="list-unstyled" id="drank-list">
      <li class="index-items">Drank Bar 1</li>
      <li class="index-items">Drank Bar 2</li>
      <li class="index-items">Drank Bar 23</li>
    </ul>
  </div>

  <div class="col-md-6 list right">
    <h1 class="index-list-title">Visit Soon</h1>
      <ul class="list-unstyle" id="drink-list">
        <li class="index-items">Drink Bar 1</li>
        <li class="index-items">Drink Bar 2</li>
        <li class="index-items">Drink Bar 23</li>
      </ul>
  </div>

</div>
