<h3 id="index-header">Click and drag bars into the appropriate list, or search bars above.</h3>

<div class="container">
<br>
  <div class="col-md-6 list left" id="visitedBars">
    <h1 class="index-list-title " >Visited</h1>
    <ul class="list-unstyled droppable" id="drank-list">
      <% for (var i = 0; i < user.bars.length; i++) { %>
        <% if (user.bars[i].visited) { %>
          <li id="bar-<%= user.bars[i]._id %>" class="index-items draggable"><%= user.bars[i].name %><span class="delete">X</span></%></li>
        <% } %>
      <% } %>
    </ul>
  </div>

  <div class="col-md-6 list right" id="nonVisitedBars">
    <h1 class="index-list-title">Visit Soon</h1>
      <ul class="list-unstyle droppable" id="drink-list">
        <% for (var i = 0; i < user.bars.length; i++) { %>
          <% if (!user.bars[i].visited) { %>
            <li id="bar-<%= user.bars[i]._id %>" class="index-items draggable"><%= user.bars[i].name %><span class="delete">X</span></li>
          <% } %>
        <% } %>
      </ul>
  </div>

</div>
