<h3 id="index-header">Add new Bar <input type="newbar"> <button>submit</button></h3>

<div class="barsBox">
<br>
  <div class="col-md-6 list left">
    <h1>Visited</h1>
    <ul class="list-unstyled" id="drank-list">
      <li>Drank Bar 1</li>
      <li>Drank Bar 2</li>
      <li>Drank Bar 23</li>
    </ul>
  </div>

  <div class="col-md-6 list right">
    <h1>Visit Soon</h1>
      <ul class="list-unstyle" id="drink-list">
        <li>Drink Bar 1</li>
        <li>Drink Bar 2</li>
        <li>Drink Bar 23</li>
      </ul>
  </div>

</div>
