<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
  	<title>Drink Drank LA</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../css/style.css">
    <!-- <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css"> -->
    <script src='https://code.jquery.com/jquery-2.2.1.min.js'></script>
		<script src='https://code.jquery.com/ui/1.12.0-beta.1/jquery-ui.min.js'></script>
    <script type="text/javascript" src="./javascript/app.js"></script>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cosmo/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cyborg/bootstrap.min.css">

  </head>
  <body>
  	<%- include('./partials/_nav', {page: 'home'}) %>

  	<%- body %>
  </body>
</html>
