<!-- <a rel="nofollow" rel="noreferrer"href = "http://www.yelp.com"> <img src = http://s3-media4.ak.yelpcdn.com/assets/2/www/img/9b7b8f0fecd7/developers/Powered_By_Yelp_Yellow.png>  </a> -->

<% for (var i=0; i < 5; i++) { %>
<a href="/barinfo">
  <div class="container-fluid">
     <div class="row">
         <div class="col-md-6">
           <img height= "200" width="200" class="bar-results-image" src="<%= bar[i].image_url %>" alt="">
         </div>
         <div class="col-md-6">
           <h4><%= bar[i].name %></h4>
           <br>
           <h4><%= bar[i].location.city %></h4>
         </div>

      </div>
  </div>
</a>
  <a href="/index" class="btn btn-primary btn-xs">Add me!</a>
<hr>
<% } %>
