<div class="col-md-8">

  <div class="barResults">
    <img src="https://www.omnihotels.com/-/media/images/hotels/indsev/restaurants/indsev-omni-severin-hotel-severin-bar-1.jpg" alt="">
    <h4>Bar Name</h4>
    <h4>Bar Loction</h4>
  </div>

  <div class="barResults">
    <img src="https://www.omnihotels.com/-/media/images/hotels/indsev/restaurants/indsev-omni-severin-hotel-severin-bar-1.jpg" alt="">
    <h4>Bar Name</h4>
    <h4>Bar Loction</h4>
  </div>

  <div class="barResults">
    <img src="https://www.omnihotels.com/-/media/images/hotels/indsev/restaurants/indsev-omni-severin-hotel-severin-bar-1.jpg" alt="">
    <h4>Bar Name</h4>
    <h4>Bar Loction</h4>
  </div>

  <div class="barResults">
    <img src="https://www.omnihotels.com/-/media/images/hotels/indsev/restaurants/indsev-omni-severin-hotel-severin-bar-1.jpg" alt="">
    <h4>Bar Name</h4>
    <h4>Bar Loction</h4>
  </div>

  <div class="barResults">
    <img src="https://www.omnihotels.com/-/media/images/hotels/indsev/restaurants/indsev-omni-severin-hotel-severin-bar-1.jpg" alt="">
    <h4>Bar Name</h4>
    <h4>Bar Loction</h4>
  </div>

  <div class="barResults">
    <img src="https://www.omnihotels.com/-/media/images/hotels/indsev/restaurants/indsev-omni-severin-hotel-severin-bar-1.jpg" alt="">
    <h4>Bar Name</h4>
    <h4>Bar Loction</h4>
  </div>

</div>
