<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th></th>
      <th>Bar Name</th>
      <th>Bar Location</th>
      <th>Add bar to list(s)?</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Misfit</td>
      <td>Santa Monica</td>
      <td><a href="/index" class="btn btn-primary btn-xs">Add me!</a></td>
    </tr>
    <tr>
      <td>2</td>
      <td>The Craftsman</td>
      <td>Santa Monica</td>
      <td><a href="/index" class="btn btn-primary btn-xs">Add me!</a></td>
    </tr>
    <tr class="info">
      <td>3</td>
      <td>Barney's Beanery</td>
      <td>Santa Monica</td>
      <td><a href="/index" class="btn btn-primary btn-xs">Add me!</a></td>
    </tr>
    <tr class="success">
      <td>4</td>
      <td>Copa D'Ora</td>
      <td>Santa Monica</td>
      <td><a href="/index" class="btn btn-primary btn-xs">Add me!</a></td>
    </tr>

    <tr class="danger">
      <td>5</td>
      <td>Cabo Cantina</td>
      <td>Venice</td>
      <td><a href="/index" class="btn btn-primary btn-xs">Add me!</a></td>
    </tr>
    <tr class="warning">
      <td>6</td>
      <td>Billie's Bar</td>
      <td>Los Angeles</td>
      <td><a href="/index" class="btn btn-primary btn-xs">Add me!</a></td>
    </tr>
    <tr class="active">
      <td>7</td>
      <td>Wurstkuche</td>
      <td>Venice</td>
      <td><a href="/index" class="btn btn-primary btn-xs">Add me!</a></td>
    </tr>
  </tbody>
</table>
