<% for (var i=0; i < 5; i++) { %>
<div id="barinfo">
  <h2><%= bar[i].name %></h2>
  <h3><%= bar[i].location.city %></h3>
  <br>
  <a href="/index" class="btn btn-primary btn-xs">Add me!</a>
</div>
<% } %>
