h1 {
  margin: 20px !important;
}

.index-list-title{
  text-align: center;
  color: white;
  text-shadow: 5px 4px 1px black !important;
}



/*h2 {
  text-align: center;

}*/


/*Sign up page styling*/
#signup {
  margin: 0 auto;
  width: 50%;
}

#index-header {
  text-align: center;
  font-size:  2em;
}

/* Home page display box text*/
.msg-box-text {
    font-size: 24px !important;
    background-color: rgba(0, 0, 0, .2) !important;
}


/*msgbox on landing page*/
.msgbox {
  color: white !important;
  margin: 0 auto;
  text-align: center;
  width: 80%;
  border-radius: 10px;
  border: 1px solid black;
  background-size: 100% !important;
  background: url('http://www.campusghanta.com/wp-content/uploads/2012/01/drink.jpg');
}

.container {
  display: flex;
}

/*add space inbetween boxs on index*/
.list {
  margin: 10px;
  height: 500px;
}

/*.barsBox {
  width: 90%;
  margin: 0 auto;
}*/
/*making the border around list items*/
.index-items {
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  margin: 10px auto;
  max-width: 330px;
  height: 60px;
  text-align: center;
  list-style: none;
  background-color: lightgray;
}

.fb-login {
  margin: 0 auto;
  width: 50%;
}

#login {
  margin: 0 auto;
  width: 50%;
}
/*forms on signup and login page*/
form {
  margin: 0 auto;
  width: 50%;
}
/*jumbo on barinfo*/
.jumbotron {
  margin: 0 auto;
  width: 80%;
}
/*bar info text*/
.bar-info-text {
  width: 80%;
  margin: 0 auto;
}
/*image on barinfo page*/
img {
  margin: 0 auto;
  display: block;
  width: 500px;
}
/*search box left on index page*/
.left {
  width: 45% !important;
  border: 1px solid gray;
  box-shadow: 1px 1px 15px rosybrown;
  border-radius: 10px !important;
  background-image: url('http://designreflect.com/wp-content/uploads/2012/09/wooden-textures/Vintage-Grunge-Wood-Background.jpg')
}
/*search box right on index page*/
.right {
  width: 45% !important;
  border: 1px solid gray;
  box-shadow: 1px 1px 15px rosybrown;
  border-radius: 10px !important;
  background-image: url('https://pickpocketthief.files.wordpress.com/2014/11/english-leather.jpg')
}

ul {
  list-style-type: none;
}

.learn-more-btn {
  background-color: rgba(255, 255, 255, 0.7); !important;
}

.profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

#profile-box {
  margin: 0 auto;
  text-align: left;
  width: 50%;
}

/*Dont think this is being used anywere -billie */
/*.bar-results, .big-box {
  margin: 0 auto !important;
  width: 40%  !important;
}*/

.bar-results-image {
  border: 1px solid gray !important;
  width: 100% !important;
  height: 250px !important;
  border-radius: 10px !important;
}
.delete {
  width: 20px;
  height: 20px;
  margin-top: 3px;
  border: none;
  background-image: url('https://openclipart.org/download/226230/trash.svg');
  background-size: 21px auto;
  background-repeat: no-repeat;
  float: right;
  margin-right: 20%;
  margin-top: 3%;
}
.bar-box{
  float: left;
  margin-left: 20%;
  max-width: 130px;
  max-height: 40px;
}
.droppable {
  padding-left: 0

}
.index-items:hover{
  background-color: rgba(218,165,32, .3);
}
