h1 {
  margin: 20px !important;
  font-family: 'Oswald', sans-serif;
  font-variant: small-caps;
}

h2{
  font-family: 'Oswald', sans-serif;
  font-variant: small-caps;
}

p {
  font-family: 'Oswald', sans-serif;
  /*font-variant: normal;*/
  font-size: 15px;
  color: white;
}
html {
}

body {
  background: url('http://i.imgur.com/0asnqv3.jpg');
  /*background-position: center;*/
  /*width: 1000px;*/
  /*height: auto;
  width: auto;
  min-width: 1000px;
  max-width: 1000px;*/
    /*background-position: center;*/
  /*background-repeat: no-repeat*/
  /*background-size: 100%;*/
  background-repeat: no-repeat;
  /*flex: 1;*/
  /*min-width: 900px;*/
}

.splashtext {
  font-variant: small-caps;
  font-size: 65px;
  border-bottom: silver 1px solid;
  font-family: 'Oswald', sans-serif;
}

.index-list-title{
  text-align: center;
  color: white;
  text-shadow: 5px 4px 1px black !important;
}

.form-control {
  margin-right: 5px;
  margin-left:  5px;
}
.navbar.navbar-default {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#submit {
  margin-right: 0px;
}

/*h2 {
  text-align: center;

}*/


/*Sign up page styling*/
#signup {
  margin: 0 auto;
  width: 50%;
}

#index-header {
  text-align: center;
  font-size:  2em;
}

.loginform {
  margin: 100px;
}

/*#fb {
  background: url('http://www.freeiconspng.com/uploads/facebook-sign-in-button-png-26.png');

}*/

/* Home page display box text*/
.msg-box-text {
    font-size: 24px !important;
    background-color: rgba(0, 0, 0, .2) !important;
}


/*msgbox on landing page*/
.msgbox {
  color: white !important;
  margin: 0 auto;
  text-align: center;
  width: 50%;
  border-radius: 10px;
  background-size: contain;
  /*border: 1px solid black;*/
  /*background-size: 100% !important;*/
  /*background: url('http://www.campusghanta.com/wp-content/uploads/2012/01/drink.jpg');*/
}

.container {
  display: flex;
}

/*add space inbetween boxs on index*/
.list {
  margin: 10px;
  height: 500px;
}

/*.barsBox {
  width: 90%;
  margin: 0 auto;
}*/
/*making the border around list items*/
.index-items {
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  margin: 10px auto;
  max-width: 330px;
  height: 80px;
  text-align: left;
  list-style: none;
  background-color: lightgray;
}

.fb-login {
  margin: 0 auto;
  width: 50%;
}

#login {
  margin: 0 auto;
  width: 50%;
}
/*forms on signup and login page*/
form {
  margin: 0 auto;
  width: 50%;
}
/*jumbo on barinfo*/
.jumbotron {
  margin: 0 auto;
  width: 80%;
}
/*bar info text*/
.bar-info-text {
  width: 80%;
  margin: 0 auto;
}
/*image on barinfo page*/
img {
  margin: 0 auto;
  display: block;
  width: 500px;
}

#index-header {
  margin-top: 30px;
  margin-bottom: 30px;
}
/*search box left on index page*/
.left {
  width: 45% !important;
  border: 1px solid gray;
  box-shadow: 1px 1px 15px rosybrown;
  border-radius: 10px !important;
  /*background-color: grey;
  opacity: .3;*/
  background-image: url('http://finedininglovers.cdn.crosscast-system.com/BlogPost/xl_12525_trend-2016-cocktails-finedininglovers-tp.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}
/*search box right on index page*/
.right {
  width: 45% !important;
  border: 1px solid gray;
  box-shadow: 1px 1px 15px rosybrown;
  border-radius: 10px !important;
  background-image: url('https://pickpocketthief.files.wordpress.com/2014/11/english-leather.jpg')
}

ul {
  list-style-type: none;
}

.learn-more-btn {
  background-color: rgba(255, 255, 255, 0.7); !important;
}

.profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

#profile-box {
  margin: 50px 22%;

  text-align: left;

  width: 50%;
  /*height: 60%;*/
  overflow-y: scroll;
  background-size: fixed;

  /*border: grey 1px solid;*/
  padding: 15px;
  -webkit-overflow-scrolling: touch;
  border: 1px solid gray;
  /*background-color: white;*/
}

/*Dont think this is being used anywere -billie */
/*.bar-results, .big-box {
  margin: 0 auto !important;
  width: 40%  !important;
}*/

.bar-results-image {
  /*border: 1px solid gray !important;*/
  width: 300px !important;
  height: 200px !important;
  margin: 0;
  /*border-radius: 10px !important;*/
}
.delete {
  width: 20px;
  height: 20px;
  border: none;
  background-image: url('https://openclipart.org/download/226230/trash.svg');
  background-size: 21px auto;
  background-repeat: no-repeat;
  float: right;
  margin-right: 6%;
  margin-top: 8%;
}
.bar-box{
  float: left;
  margin-left: 20%;
  margin-top: 2%;
  max-width: 180px;
  max-height: 40px;
}
.droppable {
  padding-left: 0

}
.index-items:hover{
  border-radius: 50px;
  border: 2px solid black;
  /*background-color: rgba(250,250,250, .5);*/
  background-color: rgba(225,225,225, .7);
}

a {
  font-variant: small-caps;
  font-size: 15px;
}

.add-bar-button {
  margin-top: 8px;
}

/*.col-md-6 {
  height: 255px;
  width: 200px;
  border: silver 1px solid;
}*/

@media (max-width: 600px) {
  body {
    background-size: cover;
  }
